<div class="input-group mb-3 username-input" [formGroup]="loginForm" [ngClass]="{'has-error': this.global.hasLoginError}">
    <i class="fa-solid fa-user user-icon fa-xl"></i>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" formControlName="username">
</div>
<div class="input-group mb-3 password-input" [formGroup]="loginForm" [ngClass]="{'has-error': this.global.hasLoginError}">
    <i class="fa-solid fa-lock password-icon fa-xl"></i>
    <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" formControlName="password">
</div>
<div class="button-wrapper">
    <button (click)="login()" class="login-button btn">Log in</button>
</div>
<div class="show-error-wrapper" *ngIf="this.global.hasLoginError">
    <p class="error-text" ><i class="fa-solid fa-triangle-exclamation fa-sm"></i> {{this.global.loginErrorMessage}}</p>
</div>

